

 /* ------/ Home template navbar section / ----- */

.container-fluid{ padding: 0; }

body { background-color: #EAEDED; }

.navbar {
    background-color: #F8F9F9;
    display: none;
    }

.primer{
    padding: 2%;
    font-family: "Days One", sans-serif;
    background-color: #FD841F;
    color: white;
    font-style: Regular;
    font-weight: 400;
    font-size: 40px;
    }

.marco { margin: 20px; }

.deco{ padding: 10px 50px 50px 50px; }

.toco{ padding: 10px 50px 10px 50px;}

.footer, .push {
  height: 50px;
}

@media (max-width: 767px) {
  .footer,
  .push {
    height: 120px;
  }
}

.kiddo{
    padding: 300px 50px 20px 0;
    }

/* ------/ template section / -----  */

 #section {
      width: 82%;
      margin: 15px auto 0 auto;
      padding: 2%;
      /*border-radius: 12px;
      border: 1px solid #e0e0e0;*/
  }

 #section div{
    display: inline-block;
    margin-right: 20px;
    margin: 1px;
  }

  .child:nth-child(even) {
    background-color: #EAEDED; }

.child {
  margin-top: 30px;
  margin-left: 1px;
  padding-left: 1px;
}

@media only screen and (min-width: 576px) { /* Small devices (576px and up) */
  .child {
    margin-left: 15px;
    padding-left: 15px;
  }
}

@media only screen and (min-width: 768px) { /* Medium devices (768px and up) */
  .child {
    margin-left: 30px;
    padding-left: 30px;
  }
}

@media only screen and (min-width: 992px) { /* Large devices (992px and up) */
  .child {
    margin-left: 50px;
    padding-left: 50px;
  }
}

@media only screen and (min-width: 1200px) { /* Extra large devices (1200px and up) */
  .child {
    margin-left: 70px;
    padding-left: 70px;
  }
}

/* ---------/ Boxes section / ------------ */

.boxes-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-right: 20px;
}

.box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 125px;
    height: 100px;
    border-radius: 10px;
    font-size: 14px;
    font-weight: bold;
    color: #fff;
    margin: 30px 30px 20px 50px;
    text-align: center;
    padding: 3px;
}

.orange {
    background-color: orange;
}

.teal {
    background-color: grey;
}

.red {
    background-color: red;
}

.green {
    background-color: green;
}

.blue {
    background-color: blue;
}




