{% extends "base.html" %}


{% block content %}

    <div class="primer">Task {{ task.id }}</div>
    <br>
    <ul class="child">
    <li>Task Number : {{ task.id }}</li>
    <li>Task Name : {{ task.task_name }}</li>
    <li>Task Category : {{ task.category }}</li>
    <li>Start Date : {{ task.start_date }}</li>
    <li>End Date : {{ task.end_date }}</li>
    <li>Task Details: {{ task.task_detail | safe }}</li>
    <div id="section">
    <div><a class="bt btleft" href="/delete/{{ task.id }}">Delete task</a></div>
    <div><a class="bt btleft" href="/update/{{ task.id }}">Update task</a></div>
    <div><a class="bt btleft" href="/">Return Home</a></div>
    </div>
    </ul>

{% endblock content%}