{% extends "base.html" %}

{% block content %}
    <div class="primer"  style="display: flex; justify-content: space-between;">
      <h1 class="">All Tasks</h1>
        <h5><button class="bt toco btn-primary" onclick="window.location.href='/'">Return home</button></h5>
    </div>

    <div class="d-flex justify-content-between">
    <div class="boxes-container">
        <div class="box orange">
            <h2>{{ tasks_scheduled_today_count }}</h2>
            <p>Scheduled Today</p>
        </div>
        <div class="box teal">
            <h2>{{ overdue_tasks_count }}</h2>
            <p>Overdue Tasks</p>
        </div>
        <div class="box green">
            <h2>{{ active_tasks_count }}</h2>
            <p>Active Tasks</p>
        </div>
        <div class="box blue">
            <h2>{{ completed_tasks_count }}</h2>
            <p>Completed Tasks</p>
        </div>
         <div class="box red">
            <h2>{{ cancelled_tasks_count }}</h2>
            <p>Cancelled Tasks</p>
        </div>
    </div>

    <div class="tasks-container">
        {% for task in all_tasks %}
        <ul class="child">
        <li>Task Number : {{ task.id }}</li>
        <li>Task Name : {{ task.task_name }}</li>
<!--        <li>Task Category : {{ task.category }}</li>-->
        <li>Start Date : {{ task.start_date }}</li>
<!--        <li>End Date : {{ task.end_date }}</li>-->
<!--        <li>Task Details: {{ task.task_detail | safe }}</li>-->

        <li>
            <div id="section">
            <div class="bt"><a href="/show_task/{{ task.id }}">Select-task</a></div>
<!--        <div class="bt btleft"><a href="/">Return-Home</a></div>-->
        </li>
        </ul>
    {% endfor %}
  </div>

        {% endblock content %} </div>
